<div class="row">
    <div class="col">
    
      <nb-card accent="primary">
        <nb-card-header>DRMS Connection & Congestion points Registration</nb-card-header>
        <nb-card-body>
  
          <div class="row">
            <div class="col-md-2">
              <button nbButton hero status="info" (click)="handleClick()">Register C&C points</button>
            </div>
            <div class="col-md-2"></div>
          </div>
            <!--
          <div class="row">
            <div class="col-md-12">
              <ng2-smart-table *ngIf="messages" [settings]="userSettings" [source]="messageQueue">
              </ng2-smart-table>
            </div>
          </div>
        -->
         <!--
          <div class="row">
            <div class="col-md-6" >
             
                <nb-card accent="primary">
                  <nb-card-body *ngFor="let q of messageQueue">
              
                    <label class="component-name">{{q.data}}</label>
                  </nb-card-body>
                </nb-card>
              </div>
  
              <div class="col-md-6" >
             
                <nb-card accent="primary">
                  <nb-card-body *ngFor="let t of timestamp">
              
                    <label class="component-name">{{t.data}}</label>
                  </nb-card-body>
                </nb-card>
              </div>
            
          </div>
        -->      
      </nb-card-body>

    </nb-card>

        <h2>Connection & Congestion points</h2>

        <nb-card accent="primary">
          <nb-card-header>DRMS Congestion Point</nb-card-header>
          <nb-card-body>
    
            <div class="row">
              <div class="col-md-12">
  
                <form [formGroup]="prognosisForm">
  
                 
        
                  <div class="form-group" (change)="handleDropDown($event)">
                    <label for="CongestionPoint">Congestion Point</label>
                    <select class="form-control">
                      <option value="" disabled>Choose your Congestion Point</option>
                      <option *ngFor="let tiZ of sequence" [ngValue]="tiZ">{{tiZ}}</option>
                    </select>
  
                  </div>
        
            
            </form>
          </div>
        </div>
        <div *ngIf ="sequenceval">
        <div class="row">
          <div class="col-md-12">
            <ng2-smart-table [settings]="userSettings" [source]="userSource">
            </ng2-smart-table>
          </div>
        </div>


      </div> 
      </nb-card-body>
  
      </nb-card>
        <div class="row">   </div>
    
      
            <div class="row">
                <div class="col">
                </div></div>
<!--
                  <nb-card accent="primary">
                    <nb-card-header>Flex Request</nb-card-header>
                    <nb-card-body>
              
                      <div class="row">
                        <div class="col-md-4"></div>
                        <div class="col-md-4">
              
                            <form [formGroup]="flexReqForm">
              
                                <div class="form-group">
                                  <label for="ptu-Duration">PTU-Duration</label>
                                  <input 
                                    type="text"
                                    id="ptu-Duration"
                                    class="form-control"
                                    formControlName="ptu-Duration"
                                    placeholder="Time interval (minutes only, for example PT15M) indicating the duration of the PTU"
                                  
                                  >
                                </div>
                      
                                <div class="form-group">
                                  <label for="unit_Period">Period</label>
                                  <input 
                                    type="text"
                                    id="unit_Period"
                                    class="form-control"
                                    formControlName="unit_Period"
                                    placeholder="Day (in yyyy-mm-dd format) the PTUs referenced in this FlexRequest message belong to."
                                  >
                                </div>
                      
                                <div class="form-group" (change)="handleDropDown('TimeZone',$event)">
                                  <label for="TimeZone">TimeZone</label>
                                  <select class="form-control">
                                    <option value="" disabled>Choose your TimeZone</option>
                                    <option *ngFor="let tiZ of timeZones" [ngValue]="tiZ">{{tiZ}}</option>
                                  </select>
                                </div>

                              <div class="form-group">
                                <label for="unit_Expiration">Expiration Date Time</label>
                                <input 
                                  type="text"
                                  id="unit_Expiration"
                                  class="form-control"
                                  formControlName="unit_Expiration"
                                  placeholder="Date and time, including the time zone until which the FlexRequest message is valid."
                                >
                            </div>

                            <div class="form-group">
                              <label for="unit_PrognosisOrigin">Prognosis Origin</label>
                              <input 
                                type="text"
                                id="unit_PrognosisOrigin"
                                class="form-control"
                                formControlName="unit_PrognosisOrigin"
                                placeholder="The Internet domain of the USEF participant that sent the Prognosis message this request is based on."
                              >
                          </div>

                          <div class="form-group">
                            <label for="unit_PrognosisSequence">Prognosis Sequence</label>
                            <input 
                              type="text"
                              id="unit_PrognosisSequence"
                              class="form-control"
                              formControlName="unit_PrognosisSequence"
                              placeholder="Sequence number of the D-Prognosis this request is based on."
                            >
                        </div>

                        <div class="form-group">
                          <label for="SenderDomain">Sender Domain</label>
                          <input 
                            type="text"
                            id="SenderDomain"
                            class="form-control"
                            formControlName="SenderDomain"
                            placeholder="The Internet domain of the USEF participant sending this message."
                          
                          >
                        </div>


                        <div class="form-group" (change)="handleDropDown('Precedence',$event)">
                          <label for="Precedence">Precedence</label>
                          <select class="form-control">
                            <option value="Critical">Critical</option>
                            <option value="Routine">Routine</option>
                            <option value="Transactional">Transactional</option>
                          </select>
                        </div>

                      <div class="form-group">
                        <label for="ValidUntil">Valid Until</label>
                        <input 
                          type="text"
                          id="ValidUntil"
                          class="form-control"
                          formControlName="ValidUntil"
                          placeholder="Optional absolute date and time this message expires"
                        >
                    </div>
 
    </form>
    </div>
  </div>
</nb-card-body>

                  </nb-card>

                

 
                  <div class="row">   </div>
    
      
                  <div class="row">
                      <div class="col">
                      </div> </div>
        
            <nb-card accent="primary">
              <nb-card-header>PTU</nb-card-header>
              <nb-card-body>
        
                <div class="row">
                  <div class="col-md-4"></div>
                  <div class="col-md-4">
        
                      <form [formGroup]="ptuform">

                          <div class="form-group" (change)="handleDropDown2('ptuDisposition',$event)">
                            <label for="ptuDisposition">PTU-Disposition</label>
                            <select class="form-control">
                              <option value="Available">Available</option>
                              <option value="Requested">Requested</option>
                            </select>
                          </div>
                
                          <div class="form-group">
                            <label for="Power">Power</label>
                            <input 
                              type="text"
                              id="Power"
                              class="form-control"
                              formControlName="Power"
                              placeholder="Power specified for this PTU in Watts."
                            >
                          </div>
                
                          <div class="form-group">
                              <label for="Start">Start</label>
                              <input 
                                type="text"
                                id="Start"
                                class="form-control"
                                formControlName="Start"
                                placeholder="Number of the first PTU this element refers to. The first PTU of a day has number 1."
                              >
                          </div>

                          <div class="form-group">
                            <label for="Duration">Duration</label>
                            <input 
                              type="text"
                              id="Duration"
                              class="form-control"
                              formControlName="Duration"
                              placeholder="The number of the PTUs this element represents. Optional, default value is 1."
                            >
                        </div>

                        

      

</form>
</div>
</div>
</nb-card-body>
    
</nb-card>

-->