@import '../../../@theme/styles/themes';
@import '../../../@theme/styles/image.card.component.scss';
@import '~@nebular/theme/components/card/card.component.theme';

  h2 {
    flex: 1 1 100%;
    color: nb-theme(text-hint-color);
    margin: 1rem 0 2rem;
    text-align: center;
  }

.formLabel {
  margin-top: 0.8%;
  margin-left: 2%;
  font-weight: bold;
}

input {
  text-align: center;
  margin-top: 0.9rem;
}

textarea {
  margin-top: 1rem;
}

.formDescr {
  margin-top: 1.3%;
  margin-left: 2%;
  font-weight: bold;
}

input[type=file] {
  display:none;
}

.errorTextarea {
  color: nb-theme(color-danger-default);
  margin-top: 2.5%;
}

.successTextarea {
  color: nb-theme(color-success-default);
  margin-top: 2.5%;
}


::ng-deep nb-list-item:first-child {
  border-top: 0 !important;
}

nb-list {
  overflow-x: hidden;
}

:host ::ng-deep .ng2-smart-sort-link {
    font-weight: bolder;
}

:host ::ng-deep .ng2-smart-title {
  font-weight: bolder;
}

.items {
    display: flex;
    align-items: center;
}

:host ::ng-deep ng2-st-tbody-edit-delete {
  display: flex !important;
  height: 0 !important;
}

:host ::ng-deep .ng2-smart-actions {
  width: 7% !important;
}

:host ::ng-deep ng2-st-tbody-custom a.ng2-smart-action.ng2-smart-action-custom-custom {
  display: inline-block;
  width: 50px;
  text-align: center;
  font-size: 1.1em !important;
  color: #1e6bb8;
}

:host ::ng-deep ng2-st-tbody-custom a.ng2-smart-action.ng2-smart-action-custom-custom:hover {
  color: #5dcfe3;
}

:host /deep/ ng2-smart-table {
  text-align: center;
}