<div class="row m-4">
    <div class="col-md-4"></div>
    <div class="col-md-5">
        <a href="https://www.drimpac-h2020.eu/" target="_blank">
            <img [src]="'assets/images/logo-drimpac.png'" [ngStyle]="{'width': '600px', 'height': '450px'}">
        </a>
    </div>
</div>
<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-7">
        <label class="ui huge" [ngStyle]="{'margin-left': '14rem', 'margin-right': '20px'}">
            <a href="https://www.linkedin.com/company/drimpac-eu-h2020/" target="_blank" class="ion ion-social-linkedin"></a>
        </label>
        <label class="ui huge" [ngStyle]="{'margin-right': '20px'}">
            <a href="https://twitter.com/Drimpac_H2020" target="_blank" class="ion ion-social-twitter"></a>
        </label>
        <label class="ui large">
            <a href="mailto:info@drimpac-h2020.eu" target="_blank" class="ion ion-email-unread"></a>
        </label>
    </div>
</div>