<div class="row">
  <div class="col">
  
    <nb-card accent="primary">
      <nb-card-header>Events</nb-card-header>
      <nb-card-body>

        <div class="row">
          <div class="col-md-12">
            <ng2-smart-table *ngIf="messages" [settings]="userSettings" [source]="messageQueue">
            </ng2-smart-table>
          </div>
        </div>
       <!--
        <div class="row">
          <div class="col-md-6" >
           
              <nb-card accent="primary">
                <nb-card-body *ngFor="let q of messageQueue">
            
                  <label class="component-name">{{q.data}}</label>
                </nb-card-body>
              </nb-card>
            </div>

            <div class="col-md-6" >
           
              <nb-card accent="primary">
                <nb-card-body *ngFor="let t of timestamp">
            
                  <label class="component-name">{{t.data}}</label>
                </nb-card-body>
              </nb-card>
            </div>
          
        </div>
      -->       
      </nb-card-body>
    </nb-card>
  
  </div>
</div>
