<div class="row">
  <div class="col">
    <div *ngIf="title=='Pending Flexibillity Offers'">
      <nb-card accent="primary">
        <nb-card-header>USEF</nb-card-header>
        <nb-card-body>

          <div class="row">
            <div class="col-md-2">
              <button nbButton hero status="info" (click)="handleClick()">Send Flexibility Order</button>
            </div>
            <div class="col-md-2"></div>
          </div>

        </nb-card-body>

      </nb-card>
    </div>
    <h2>{{title}}</h2>

    <nb-card accent="primary">
      <nb-card-header>Flexibility Offer</nb-card-header>
      <nb-card-body>

        <div class="row">
          <div class="col-md-12">

            <form [formGroup]="prognosisForm">



              <div class="form-group" (change)="handleDropDown($event);">
                <label for="CongestionPoint">Flexibility Offer Sequence</label>
                <select class="form-control">
                  <option value="" disabled>Choose your Flexibility Offer Sequence</option>
                  <option *ngFor="let tiZ of sequence" [ngValue]="tiZ">{{tiZ}}</option>
                </select>

              </div>


            </form>
          </div>
        </div>
        <div *ngIf="sequenceval">

          <div class="row">
            <div class="col-md-12">
              <ng2-smart-table [settings]="userSettings" [source]="userSource">
              </ng2-smart-table>
            </div>
          </div>

          <div class="row">
            <div class="col-md-12">
              <h2> </h2>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6">
              <ngx-line-chart [chartPrices]="Timeseries" [nameHorizonal]="nameH" [nameHorizonalDown]="nameHD" [colors]="colorsblue"
                [nameVerical]="nameV"></ngx-line-chart>
            </div>
          



         
            <div class="col-md-6">
              <ngx-line-chart [chartPrices]="Timeseries2" [nameHorizonal]="nameH2" [nameHorizonalDown]="nameHD2" [colors]="colorsred"
                [nameVerical]="nameV2"></ngx-line-chart>
            </div>
          </div>

          <div class="row">
            <div class="col">
              <h2>Program Time Units</h2>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <ng2-smart-table [settings]="userSettingsPTU" [source]="userSourcePTU">
              </ng2-smart-table>
            </div>
          </div>
        </div>
      </nb-card-body>

    </nb-card>
    <div class="row"> </div>


    <div class="row">
      <div class="col">
      </div>
    </div>
    <div *ngIf="title=='Revoked Flexibillity Offers'">
      <h2>Revoked Flexibility Offers Status</h2>
      <nb-card accent="primary">
        <nb-card-header>Flexibility Offers</nb-card-header>
        <nb-card-body>
          <div class="row">
            <div class="col-md-12">
              <ng2-smart-table [settings]="revokesequense" [source]="tableRevoke">
              </ng2-smart-table>
            </div>
          </div>
        </nb-card-body>
      </nb-card>
    </div>
 