<ng-template #tooltipTemplateCRU> <strong>COMMON REFERENCE UPDATE TIME</strong> <br>
  The time of day the Common Reference update message is sent to the CRO. <br>
  Common Reference update publishes Congestion Points,in order to make them <br>
  available to the AGRs. <br>
  Format HH:mm. <br>
</ng-template>

<ng-template #tooltipTemplateIPT> <strong>INITIALIZE PLANBOARD TIME</strong> <br>
  The time of the day the common reference query will be sent to <br>
  initialize the DSO planboard. Common Reference Retrieves a list of all<br>
  DSO-registered Congestion Points with, for each such point, a list<br>
  of Aggregators representing Prosumers there, including the number <br>
  of Connections each Aggregator represents.<br>
  Format HH:mm. <br>
</ng-template>

<ng-template #tooltipTemplateCFT> <strong>CONNECTION FORECAST TIME</strong> <br>
  The time of day non-aggregator connection forecast will be created. <br>
  The DSO must create the non-aggregator connection forecast before it<br>
  receives any D-Prognoses from AGRs. Therefore the DSO connection <br>
  forecast must be called earlier than the AGRs connection forecast. <br>
  Format HH:mm. <br>
</ng-template>

<ng-template #tooltipTemplatePTU> <strong>PTU DURATION</strong> <br>
  Program time unit duration in minutes. This should be an integer<br>
  value greater than 0 and less than the minimum number of minutes<br>
  in a day for the timezone. <br>
</ng-template>

<ng-template #tooltipTemplateTIME> <strong>TIME ZONE</strong> <br>
  Local time zone to use when sending messages. <br>
</ng-template>

<ng-template #tooltipTemplateCUR> <strong>CURRENCY</strong> <br>
  The agreed upon used currency. <br>
</ng-template>

<ng-template #tooltipTemplateBB> <strong>BYPASS SCHEDULED EVENTS</strong> <br>
  Option yes bypasses Scheduled Events and they need to be triggered manually.<br>
</ng-template>

<h2>Usef Parameters</h2>

<div class="row"> </div>
<div class="row">
  <div class="col">
  </div>
</div>

<nb-card accent="primary">
  <nb-card-header>Parameters</nb-card-header>
  <nb-card-body>

    <div class="row">
      <div class="col-md-4"></div>
      <div class="col-md-4">
        <form [formGroup]="Form">
          <div class="form-group">
            <label for="COMMON REFERENCE UPDATE TIME">COMMON REFERENCE UPDATE TIME</label>
            <input [nbPopover]="tooltipTemplateCRU" nbPopoverPlacement="right" nbPopoverTrigger="hover" type="text"
              id="COMMON REFERENCE UPDATE TIME" class="form-control" formControlName="COMMON REFERENCE UPDATE TIME">
          </div>


          <div class="form-group">
            <label for="INITIALIZE PLANBOARD TIME">INITIALIZE PLANBOARD TIME</label>
            <input [nbPopover]="tooltipTemplateIPT" nbPopoverPlacement="right" nbPopoverTrigger="hover" type="text"
              id="INITIALIZE PLANBOARD TIME" class="form-control" formControlName="INITIALIZE PLANBOARD TIME">
          </div>


          <div class="form-group">
            <label for="CONNECTION FORECAST TIME">CONNECTION FORECAST TIME</label>
            <input [nbPopover]="tooltipTemplateCFT" nbPopoverPlacement="right" nbPopoverTrigger="hover" type="text"
              id="CONNECTION FORECAST TIME" class="form-control" formControlName="CONNECTION FORECAST TIME">
          </div>

          <div class="form-group">
            <label for="PTU DURATION">PTU DURATION</label>
            <input [nbPopover]="tooltipTemplatePTU" nbPopoverPlacement="right" nbPopoverTrigger="hover" type="text"
              id="PTU DURATION" class="form-control" formControlName="PTU DURATION">
          </div>


          <div class="form-group" (change)="handleDropDown('TimeZone',$event)">
            <label for="TimeZone">TimeZone</label>
            <select class="form-control" formControlName="TimeZone" [nbPopover]="tooltipTemplateTIME"
              nbPopoverPlacement="right" nbPopoverTrigger="hover">

              <option *ngFor="let tiZ of timeZones" [value]="tiZ">{{tiZ}}</option>
            </select>

          </div>

          <div class="form-group" (change)="handleDropDown('CURRENCY',$event)">
            <label for="CURRENCY">CURRENCY</label>
            <select class="form-control" formControlName="CURRENCY" [nbPopover]="tooltipTemplateCUR"
              nbPopoverPlacement="right" nbPopoverTrigger="hover">

              <option *ngFor="let tiZ of currencycodes" [value]="tiZ">{{tiZ}}</option>
            </select>

          </div>


          <div class="form-group" (change)="handleDropDown('BYPASS SCHEDULED EVENTS',$event)">
            <label for="BYPASS SCHEDULED EVENTS">BYPASS SCHEDULED EVENTS</label>
            <select class="form-control" formControlName="BYPASS SCHEDULED EVENTS" [nbPopover]="tooltipTemplateBB"
              nbPopoverPlacement="right" nbPopoverTrigger="hover">
              <option value="false">FALSE</option>
              <option value="true">TRUE</option>
            </select>

          </div>


        </form>
      </div>

    </div>
  </nb-card-body>
  <nb-card-footer>
    <div class="row">
      <div class="col-md-2">
        <button nbButton hero status="info" (click)="handleClick()">Submit Usef Parameters</button>
      </div>
      <div class="col-md-2"></div>
      <div class="col-md-3">
        <div *ngIf="message" [ngClass]="{
          'errorTextarea': message.includes('Error'),
          'successTextarea': !message.includes('Error')
        }">
          {{message}}
        </div>
      </div>
    </div>
  </nb-card-footer>
</nb-card>