<div class="row">
  <div class="col">
    <h2>Active Aggregators</h2>
    <nb-card accent="primary">

      <nb-card-header>Active Aggregators</nb-card-header>

      <nb-card-body>


        <div class="row">
          <div class="col">
            <h2>Aggregators</h2>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <ng2-smart-table [settings]="userSettingsPTU" [source]="userSourcePTU">
            </ng2-smart-table>
          </div>
        </div>

      </nb-card-body>

    </nb-card>
    <div class="row"> </div>


    <div class="row">
      <div class="col">
      </div>
    </div>